@font-face {
  font-family: 'Arvo Italic';
  src: url('../fonts/Arvo.eot');
  src: url('../fonts/Arvo.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Arvo.woff') format('woff'),
  url('../fonts/Arvo-Regular.ttf') format('truetype');
}

